.comment-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comment-item {
    width: 60vw;
}

.icons {
    font-size: 1.2rem;
}

.edit-icon {
    margin-right: 1rem;
}
