.login-area {
    margin: 5rem 30%
}

.login-title {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.login-input {
    padding: 1rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}