.head-icon {
    font-size: 2rem;
    margin-right: 1rem;
}

.head-text {
    font-size: 1.5rem;
    margin-right: 1rem;
}

.option-text {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.login {
    display: flex;
    align-items: center;
}

.login-text {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

.login-login {
    font-size: 0.8rem;
}

.login-icon {
    font-size: 1.2rem;
    margin-left: 1rem;
}