.head-icon {
    font-size: 2rem;
    margin-right: 1rem;
}

.head-text {
    font-size: 1.5rem;
    margin-right: 1rem;
}

.option-text {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.login {
    display: flex;
    align-items: center;
    text-align: center;
}

.login-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    color: white;
}

.logout-text {
    color: darkgrey;
    font-size: 0.8rem;
}

.login-icon {
    font-size: 1.5rem;
    margin-left: 1rem;
    color: white;
}