.new-comment-area {
    margin: 3rem 20%
}

.new-comment-title {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.new-comment-input {
    padding: 1rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.wrong-input-alert {
    margin: 2rem 20%;
}