.search-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 20%;
}

.search-result {
    width: 60vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-result-rating {
    width: 40%;
    border-right: darkgrey 1px solid;
    text-align: center;
}

.search-result-content {
    width: 60%;
    padding: 1.5rem;
}