.user-info-form {
    margin: 5rem 25%;
}

.user-info-form-title {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.user-info-form-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 991px) {
    .user-info-form {
        margin: 5rem 15%;
    }
}